.nav{
    padding: 10px 10px;
    background-color: #310031;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu{
    font-size: 25px;
    position: absolute;
    left: 20px;
}
.logo{
    font-family: 'Abril Fatface', cursive;
    font-weight: 300;
}