.nav{
    padding: 10px 10px;
    background-color: #310031;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}
.menu{
    font-size: 25px;
    position: absolute;
    left: 20px;
}
.logo{
    font-family: 'Abril Fatface', cursive;
    font-weight: 300;
}
.icon{
    font-size: 30px;
    position: absolute;
    right: 10px;
}
.hideSideBar, .hideNavLogo{
    display: none;
}
.showSideBar, .showNavLogo{
    display: block;
}