.newsCard{
    width: 250px;
    height: auto;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 4px #9b9b9b;
}
.image{
    width: 250px;
    max-height: 150px;
    border-radius: 5px 5px 0px 0px;
}
.title{
    margin: 10px;
}